<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BASE_AUTHENTICATION_KEY</key>
	<string>eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJjYzQ2MDJkN2RlYjE0ZjkyMDg3YmViZmY5YjllMDNjYiIsIm5iZiI6MTcyMzc0Mjc3Mi45NzA0NTYsInN1YiI6IjU2NTE4YTdiYzNhMzY4MDcwZjAwYTAxYSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.nVXWGSEMwcvqgTMO3Xplm4DxmGqHf3q2urHBLaa2mzo</string>
</dict>
</plist>
